<h1>New Users</h1>

<form class="newuser" action="/newuser" method="post">
  <input type="text" name="name" value="name">
  <input type="text" name="email" value="email">
  <input type="text" name="image" value="image">
  <button type="submit" name="button">Submit</button>
</form>
